*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: auto;
}
.content{
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
    text-align: left;
}

.content .par{
    font-family: 'Arial';
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    text-align-last: center;
}
.content .par1{
    font-family: 'Arial';
    font-size: 25px;
    letter-spacing: 0.7px;
    line-height: 30px;
}

.content h1{
    font-family: 'Arial';
    font-size: 45px;
    margin-top: 1%;
    text-align: center;
}
.content h2{
    font-family: 'Times New Roman';
    font-size: 30px;
    letter-spacing: 2px;
}

.content .cn{
    width: 150px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #000000;
    margin-top: 3%;
    font-size: 18px;
    margin-left: 90%;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
}

.content .theme{
    width: 150px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #000000;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
    margin-left: 90%;
    position: absolute;
}
.content .theme:hover{
    background-color: rgb(230, 230, 230);
}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: rgb(240, 240, 240);
}
.theme:hover{
    background-color: rgb(240, 240, 240);
}

.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }
  .dark-mode {
    background-color: black;
    color: #ffffff;
    }
    span{
        color: #0039a6;
        font-weight: 700;
        font-size: 30px;
      }